absl-py==1.3.0
action-msgs==1.2.1
action-tutorials-interfaces==0.20.5
action-tutorials-py==0.20.5
actionlib-msgs==4.2.4
addict==2.4.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.12
aiosignal==1.3.2
ament-cmake-test==1.3.11
ament-copyright==0.12.11
ament-cppcheck==0.12.11
ament-cpplint==0.12.11
ament-flake8==0.12.11
ament-index-python==1.4.0
ament-lint==0.12.11
ament-lint-cmake==0.12.11
ament-package==0.14.0
ament-pep257==0.12.11
ament-uncrustify==0.12.11
ament-xmllint==0.12.11
angles==1.15.0
annotated-types==0.7.0
anyio==4.8.0
appdirs==1.4.4
apptools==5.3.0
argcomplete==3.5.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==3.0.0
async-lru==2.0.4
async-timeout==5.0.1
attrs==25.1.0
av==14.1.0
av2==0.2.1
babel==2.17.0
bcrypt==4.2.1
beautifulsoup4==4.13.3
black==25.1.0
bleach==6.2.0
blinker==1.9.0
buff_interfaces==1.0.0
builtin-interfaces==1.2.1
cachetools==5.5.1
camera-aravis2-msgs==1.1.0
camera-calibration==3.0.6
camera-info-manager-py==3.1.10
certifi==2025.1.31
cffi==1.17.1
chardet==3.0.4
charset-normalizer==3.4.1
click==8.1.8
coloredlogs==15.0.1
colorlog==6.9.0
comm==0.2.2
composition-interfaces==1.2.1
contourpy==1.3.1
cryptography==44.0.0
cv-bridge==3.2.1
cycler==0.12.1
Cython==0.29.33
dataclasses-json==0.6.7
datamodel-code-generator==0.26.1
debugpy==1.8.12
decorator==5.1.1
defusedxml==0.7.1
demo-nodes-py==0.20.5
descartes==1.1.0
diagnostic-msgs==4.2.4
diagnostic-updater==4.0.0
dill==0.3.9
distlib==0.3.9
dnspython==2.7.0
domain-coordinator==0.10.0
easydict==1.7
email_validator==2.2.0
envisage==7.0.3
example-interfaces==0.9.3
examples-rclpy-executors==0.15.3
examples-rclpy-minimal-action-client==0.15.3
examples-rclpy-minimal-action-server==0.15.3
examples-rclpy-minimal-client==0.15.3
examples-rclpy-minimal-publisher==0.15.3
examples-rclpy-minimal-service==0.15.3
examples-rclpy-minimal-subscriber==0.15.3
exceptiongroup==1.2.2
executing==2.2.0
Faker==35.2.0
fastjsonschema==2.21.1
filelock==3.17.0
fire==0.7.0
Flask==3.1.0
flatbuffers==25.1.24
fonttools==4.55.8
foxglove-msgs==2.3.0
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2022.1.0
genson==1.3.0
geometry-msgs==4.2.4
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.38.0
google-auth-oauthlib==0.4.6
graphviz==0.8.4
grpcio==1.70.0
h11==0.14.0
h5py==3.12.1
hbdk @ file:///home/xq/RDK/AI_Toolchain/X5/OE/horizon_x5_open_explorer_v1.2.8-py310_20240926/package/host/ai_toolchain/hbdk-3.49.15-cp310-cp310-linux_x86_64.whl#sha256=4776ba6122bc36ce3d6a7ca8d61432edbef1e78fe708bc61d4ed9bcb909c2db5
hbdk-model-verifier @ file:///home/xq/RDK/AI_Toolchain/X5/OE/horizon_x5_open_explorer_v1.2.8-py310_20240926/package/host/ai_toolchain/hbdk_model_verifier-3.49.15-py3-none-linux_x86_64.whl#sha256=c2cad4cc2407af9870170ccde93b422168c84040b2e4ff91072a7b94cc41a6b8
horizon-nn @ file:///home/xq/RDK/AI_Toolchain/X5/OE/horizon_x5_open_explorer_v1.2.8-py310_20240926/package/host/ai_toolchain/horizon_nn-1.1.0-cp310-cp310-linux_x86_64.whl#sha256=aef1c80517713e55b6bea91a242d4d19a09344e878663bd12525108e22d7ecd4
horizon-nn-gpu @ file:///home/xq/RDK/AI_Toolchain/X5/OE/horizon_x5_open_explorer_v1.2.8-py310_20240926/package/host/ai_toolchain/horizon_nn_gpu-1.1.0-cp310-cp310-linux_x86_64.whl#sha256=8cb93bb1928ddb87d7fb7a6f99bb8d075d81aebacc4897d9745601c667c68482
horizon-plugin-profiler @ file:///home/xq/RDK/AI_Toolchain/X5/OE/horizon_x5_open_explorer_v1.2.8-py310_20240926/package/host/ai_toolchain/horizon_plugin_profiler-2.3.6-py3-none-any.whl#sha256=1b7030aaa72fb482f256b7b06c763cc99608700ae1219b2e01a652af75f1867d
horizon-plugin-pytorch @ file:///home/xq/RDK/AI_Toolchain/X5/OE/horizon_x5_open_explorer_v1.2.8-py310_20240926/package/host/ai_toolchain/horizon_plugin_pytorch-2.3.6%2Bcu116.torch1130-cp310-cp310-linux_x86_64.whl#sha256=91f71c3e144e20b5b76177100fbc8693146438128a8580ff827aa5016340d577
horizon-torch-samples @ file:///home/xq/RDK/AI_Toolchain/X5/OE/horizon_x5_open_explorer_v1.2.8-py310_20240926/package/host/ai_toolchain/horizon_torch_samples-2.3.8-py3-none-any.whl#sha256=ea1ae04b432a475343d42d25d7bdc1a3fccde9aa24862423041905e6f32ad258
horizon_tc_ui @ file:///home/xq/RDK/AI_Toolchain/X5/OE/horizon_x5_open_explorer_v1.2.8-py310_20240926/package/host/ai_toolchain/horizon_tc_ui-1.24.3-cp310-cp310-linux_x86_64.whl#sha256=bf4120422913851770c576613f609f500369f1f88896dfcbaf5c75ec2f9a67ef
httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.17.3
humanfriendly==10.0
idna==2.8
ijson==3.3.0
image-geometry==3.2.1
imageio==2.27.0
inflect==5.6.2
interactive-markers==2.3.2
ipykernel==6.29.5
ipython==8.32.0
ipywidgets==8.1.5
isoduration==20.11.0
isort==5.13.2
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.2
joblib==1.4.2
jsf==0.11.2
json5==0.10.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kiwisolver==1.4.8
laser-geometry==2.4.0
launch==1.0.7
launch-ros==0.19.8
launch-testing==1.0.7
launch-testing-ros==0.19.8
launch-xml==1.0.7
launch-yaml==1.0.7
lifecycle-msgs==1.2.1
llvmlite==0.39.1
lmdb==1.6.2
logging-demo==0.20.5
lxml==5.3.0
map-msgs==2.1.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.1
marshmallow==3.26.1
matplotlib==3.5.3
matplotlib-inline==0.1.7
mayavi==4.8.2
mdurl==0.1.2
message-filters==4.3.5
mistune==3.1.1
motmetrics==1.4.0
mpmath==1.3.0
msgpack==1.1.0
msgpack-numpy==0.4.8
multidict==6.1.0
multiprocess==0.70.17
mypy-extensions==1.0.0
nav-msgs==4.2.4
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
netron==8.1.5
networkx==3.4.2
nltk==3.9.1
notebook==7.3.2
notebook_shim==0.2.4
nox==2024.10.9
numba==0.56.4
numpy==1.23.0
nuscenes-devkit==1.1.9
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-cusparselt-cu12==0.6.2
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
onnx==1.15.0
onnx-simplifier==0.4.36
onnxruntime==1.16.2
opencv-python==4.6.0.66
osrf-pycommon==2.1.4
overrides==7.7.0
packaging==24.2
pandas==1.4.3
pandocfilters==1.5.1
paramiko==3.5.1
parso==0.8.4
pathos==0.3.3
pathspec==0.12.1
pcl-msgs==1.0.0
pendulum-msgs==0.20.5
pexpect==4.9.0
Pillow==9.3.0
platformdirs==4.3.6
plotly==5.11.0
pox==0.3.5
ppft==1.7.6.9
prometheus_client==0.21.1
prompt_toolkit==3.0.50
propcache==0.2.1
protobuf==3.20.3
psutil==6.1.1
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==19.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycocotools==2.0.3
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pydot==3.0.4
pyface==8.0.0
Pygments==2.19.1
PyNaCl==1.5.0
pyparsing==3.2.1
pyproj==3.7.0
pyquaternion==0.9.9
python-dateutil==2.9.0.post0
python-json-logger==3.2.1
python-qt-binding==1.1.2
pytorch-crf==0.7.2
pytz==2025.1
PyWavelets==1.8.0
PyYAML==6.0.2
pyzmq==26.2.1
qt-dotgraph==2.2.3
qt-gui==2.2.3
qt-gui-cpp==2.2.3
qt-gui-py-common==2.2.3
quality-of-service-demo-py==0.20.5
rcl-interfaces==1.2.1
rclpy==3.3.15
rcutils==5.1.6
redis==5.2.1
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-mock==1.12.1
requests-oauthlib==2.0.0
resource-retriever==3.1.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rmw-dds-common==1.6.0
ros2action==0.18.11
ros2bag==0.15.13
ros2cli==0.18.11
ros2component==0.18.11
ros2doctor==0.18.11
ros2interface==0.18.11
ros2launch==0.19.8
ros2lifecycle==0.18.11
ros2multicast==0.18.11
ros2node==0.18.11
ros2param==0.18.11
ros2pkg==0.18.11
ros2run==0.18.11
ros2service==0.18.11
ros2topic==0.18.11
rosapi==2.0.0
rosapi-msgs==2.0.0
rosbag2-interfaces==0.15.13
rosbag2-py==0.15.13
rosbridge-library==2.0.0
rosbridge-msgs==2.0.0
rosbridge-server==2.0.0
rosgraph-msgs==1.2.1
rosidl-adapter==3.1.6
rosidl-cli==3.1.6
rosidl-cmake==3.1.6
rosidl-generator-c==3.1.6
rosidl-generator-cpp==3.1.6
rosidl-generator-py==0.14.4
rosidl-parser==3.1.6
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.2
rosidl-typesupport-cpp==2.0.2
rosidl-typesupport-fastrtps-c==2.2.2
rosidl-typesupport-fastrtps-cpp==2.2.2
rosidl-typesupport-introspection-c==3.1.6
rosidl-typesupport-introspection-cpp==3.1.6
rpds-py==0.22.3
rpyutils==0.2.1
rqt-action==2.0.1
rqt-bag==1.1.5
rqt-bag-plugins==1.1.5
rqt-console==2.0.3
rqt-graph==1.3.1
rqt-gui==1.1.7
rqt-gui-py==1.1.7
rqt-msg==1.2.0
rqt-plot==1.1.2
rqt-publisher==1.5.0
rqt-py-common==1.1.7
rqt-py-console==1.0.2
rqt-reconfigure==1.1.2
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.0
rsa==4.9
rstr==3.2.2
safetensors==0.5.2
schema==0.7.7
scikit-image==0.19.0
scikit-learn==1.6.1
scipy==1.9.1
seaborn==0.13.2
Send2Trash==1.8.3
sensor-msgs==4.2.4
sensor-msgs-py==4.2.4
shape-msgs==4.2.4
Shapely==1.8.0
six==1.17.0
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
soundfile==0.11.0
soupsieve==2.6
sros2==0.10.5
stack-data==0.6.3
statistics-msgs==1.2.1
std-msgs==4.2.4
std-srvs==4.2.4
stereo-msgs==4.2.4
sympy==1.13.1
tabulate==0.9.0
teleop-twist-keyboard==2.4.0
tenacity==9.0.0
tensorboard==2.11.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
termcolor==2.1.1
terminado==0.18.1
tf2-geometry-msgs==0.25.9
tf2-kdl==0.25.9
tf2-msgs==0.25.9
tf2-py==0.25.9
tf2-ros-py==0.25.9
tf2-tools==0.25.9
theora-image-transport==2.5.2
thop==0.1.1.post2209072238
threadpoolctl==3.5.0
tifffile==2025.1.10
timeout-decorator==0.5.0
timm==0.9.2
tinycss2==1.4.0
toml==0.10.2
tomli==2.2.1
topic-monitor==0.20.5
torch==2.2.0
torchmetrics==0.5.0
torchvision==0.17.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
traits==7.0.2
traitsui==8.0.0
trajectory-msgs==4.2.4
triton==2.2.0
turtlesim==1.4.2
types-python-dateutil==2.9.0.20241206
typing-inspect==0.9.0
typing_extensions==4.12.2
udp-msgs==0.0.5
ujson==5.10.0
ultralytics-thop==2.0.14
unique-identifier-msgs==2.2.1
uri-template==1.3.0
urllib3==1.25.11
virtualenv==20.29.1
visualization-msgs==4.2.4
vtk==9.3.0
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.3
widgetsnbextension==4.0.13
wrapt==1.17.2
xacro==2.0.8
xmljson==0.2.1
xmltodict==0.14.2
yarl==1.18.3
